
@import url('https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap');

:root{
    --Marine_blue: hsl(213, 96%, 18%);
    --Purplish_blue: hsl(243, 100%, 62%);
    --Pastel_blue: hsl(228, 100%, 84%);
    --Light_blue: hsl(206, 94%, 87%);
    --Strawberry_red: hsl(354, 84%, 57%);

    --Cool_gray: hsl(231, 11%, 63%);
    --Light_gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);

    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --font_family: Ubuntu;

    --border: 1px solid #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: var(--Magnolia);
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    width: 60%;
    height: 500px;
    background-color: var(--White);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    padding: 15px;
    display: flex;
    justify-content: flex-start;
}

@media (max-width: 450px) {
    .content{
        width: 90%;
    }
}

.sub-content-1{
    width: 320px;
    height: 100%;
    background-color: var(--Purplish_blue);
    margin-right: 15px;
    border-radius: 10px;
    overflow: hidden;
}
@media (max-width: 850px) {
    .sub-content-1{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 150px;
        z-index: -10;
        border-radius: 0;
    } 
}

.sub-content-2{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-info{
    width: 200px;
    height: 350px;
    position: absolute;
}

.sidebar-svg svg{
    width: 274px;
    height: 568px;
    margin-top: -60px;
}

.sub-sidebar{
    width: 100%;
    height: 40px;
    display: flex;
    padding: 30px;
    margin-bottom: -5px;
}

.sub-sidebar .circle{
    width: 25px;
    height: 25px;
    color: var(--Alabaster);
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 11px;
    cursor: pointer;
}

.sub-sidebar .paragrath h3{
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 650;
    color: var(--Cool_gray);
}
.sub-sidebar .paragrath h2{
    font-size: 11px;
    font-family: sans-serif;
    font-weight: 700;
    color: var(--Alabaster);
}

@media (max-width: 850px) {
    .sidebar-info{
        position: absolute;
        width: 100%;
        height: 150px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 20;
    }
    .sub-sidebar .paragrath{
        display: none;
    }
    .sub-sidebar{
        width: 50px;
        height: 40px;
        display: flex;
        padding: 0;
        margin-bottom: 0;
        margin-top: -50px;
    }
    .sidebar-svg svg{
        position: absolute;
        top: -1200px;
        left: -500px;
        width: 1850px;
        height: 1768px;
    } 
}

.div-container{
    width: 80%;
    height: 90%;
}

#one{
    display: none;
}
#two{
    display: block;
}
#three{
    display: none;
}
#four{
    display: none;
}
#five{
    display: none;
}

.sub-content-2 .div-container h1{
    font-size: 25px;
    font-weight: 700;
    color: var(--Marine_blue);
}

.sub-content-2 .div-container h3{
    font-size: 14px;
    font-weight: 500;
    color: var(--Cool_gray);
    margin-top: 8px;
    margin-bottom: 35px;
}

.sub-content-2 #one label{
    font-size: 12px;
    font-weight: 600;
    color: var(--Marine_blue);
}
.sub-content-2 #one br{
    margin-bottom: 5px;
}
.sub-content-2 #one input{
    border: solid 1.5px #9e9e9e;
    width: 75%;
    height: 25px;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.sub-content-2 .div-container button{
    width: 110px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    color: var(--White);
    background-color: var(--Marine_blue);
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 65%;
    cursor: pointer;
}

@media (max-width: 850px){
    .sub-content-2 #one input{
        width: 100%;
    }
}

@media (max-width: 550px){
    .sub-content-2 .div-container button{
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
    .content{
        height: 400px;
    }
}

.radio-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .radio-inputs > * {
    margin: 6px;
  }
  
  .radio-input:checked + .radio-tile .radio-label {
    color: var(--Marine_blue);
    border-color: var(--Marine_blue);
  }
  .radio-input:checked{
    border-color: var(--Marine_blue);
  }
  
  .radio-input:focus + .radio-tile {
    border-color: var(--Marine_blue);
    /*box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;*/
  }
  
  .radio-input:focus + .radio-tile:before {
    transform: scale(1);
    opacity: 1;
  }
  
  .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 115px;
    min-height: 130px;
    border-radius: 0.5rem;
    border: 1px solid hsla(233, 9%, 65%, 0.651);
    background-color: #fff;
    /*box-shadow: var(--box-shadow);*/
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
  }
  
  
  .radio-tile:hover {
    border-color: var(--Marine_blue);
  }
  
  .radio-tile:hover:before {
    transform: scale(1);
    opacity: 1;
  }
  
  .radio-label {
    color: var(--Marine_blue);
    font-weight: 600;
    transition: 0.375s ease;
    text-align: center;
    font-size: 13px;
    position: absolute;
    top: 85px;
    left: 10px;
  }

  .radio-inputs h3{
    position: absolute;
    top: 95px;
    left: 10px;
  }
  .radio-inputs .moht{
    font-size: 10px;
  }
  
  .radio-input {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .radio-inputs img{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
  }

  .toggle{
    width: 100%;
    height: 35px;
    background-color: var(--Magnolia);
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;
    margin-bottom: 35px;
  }
  .toggle .tipe{
    color: var(--Marine_blue);
    font-weight: 600;
    font-size: 12px;
    padding: 0 15px;
  }

  /* The switch - the box around the slider */
.switch {
    font-size: 9px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2.1em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--Marine_blue);
    border: 1px solid hsl(213, 96%, 18%);
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.27em;
    bottom: 0.25em;
    background-color: #fff;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--Marine_blue);
    border: 1px solid hsl(213, 96%, 18%);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px hsl(213, 96%, 18%);
  }
  
  input:checked + .slider:before {
    transform: translateX(1.4em);
    background-color: #fff;
  }

  #year{
    display: none;
  }
  #year1{
    display: none;
  }
  #year2{
    display: none;
  }

  .back{
    font-size: 12px;
    color: var(--Cool_gray);
    font-weight: 500;
    position: absolute;
    top: 77%;
    cursor: pointer;
  }